body.darkMode {
  background-color: var(--dark-blue-grey);
}

body.darkMode #content__left,
body.darkMode .header__title h2,
body.darkMode .question-text {
  color: var(--pure-white);
}

#lightModeButton.darkMode img {
  content: url("/assets/images/icon-sun-light.svg");
}

#darkModeButton.darkMode img {
  content: url("/assets/images/icon-moon-light.svg");
}

body.darkMode .content__subtitle,
body.darkMode .question-number {
  color: var(--soft-blue);
}

body.darkMode .menu__item,
body.darkMode .question-option {
  background: var(--medium-blue-grey);
  color: var(--pure-white);
}

body.darkMode .question-option-letter {
  background: var(--pure-white);
}

body.darkMode .question-option--selected .question-option-letter {
  background-color: var(--primary-purple);
  color: var(--pure-white);
}

body.darkMode .question-option--correct .question-option-letter {
  background-color: var(--bright-teal);
  color: var(--pure-white);
}

body.darkMode .question-option--incorrect .question-option-letter {
  background-color: var(--vivid-red);
  color: var(--pure-white);
}

body.darkMode .score-message,
body.darkMode .score-message-highlight,
body.darkMode .score-card-title,
body.darkMode .score-value {
  color: var(--pure-white);
}

body.darkMode .score-card {
  background-color: var(--medium-blue-grey);
}

body.darkMode .score-total {
  color: var(--soft-blue);
}

body.darkMode .warning-message{
  color: var(--pure-white);
}

@media (max-width: 768px) {
  body.darkMode {
    background-image: url("/assets/images/pattern-background-mobile-dark.svg");
  }
}
