@import "/css/base.css";
@import "/css/variables.css";
@import "/css/theme/theme.css";
@import "/css/media_queries/menu-mobile.css";
@import "/css/media_queries/menu-desktop.css";

.attribution {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .attribution a {
    text-decoration: none;
    color: var(--primary-purple);
  }