@media (min-width: 768px) {
  /* body start */
  body {
    background-image: url("/assets/images/pattern-background-desktop-light.svg");

    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--light-grey);

    display: grid;
    place-content: center;
  }
  /* body end */

  /* menu header start*/
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1160px;
    padding-top: 30px;
    margin-bottom: 99px;
  }

  .header__buttons {
    width: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__button {
    border: none;
  }

  .header__button:first-of-type,
  .header__button:last-of-type {
    width: 24px;
    height: 24px;
    background: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #lightModeButton {
    margin-right: 16px;
  }

  #darkModeButton {
    margin-left: 16px;
  }

  #toggleButton {
    width: 48px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: var(--primary-purple);
    border-radius: 999px;
    padding: 4px;
  }

  .header__button-slider {
    width: 20px;
    height: 20px;
    background-color: var(--pure-white);
    border-radius: 50%;
  }

  /* menu header end*/

  /* main start  */
.main__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
    width: 1160px;
    height: 456px;
  }

  .content__left {
    display: flex;
    flex-direction: column;

    width: 475px;
    margin-right: 121px;
  }

  .content__title {
    font-size: var(--font-size-heading-l);
    line-height: var(--line-height-heading-m);
    margin-bottom: 48px;
    
  }

  .content__subtitle {
    font-size: 20px;
    font-style: var(--font-weight-regular-italic);
  }

  .content__menu {
    display: flex;
    flex-direction: column;
  }

  .menu__item {
    width: 564px;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background: var(--pure-white);
    border-radius: 20px;
    padding: 20px;

    text-decoration: none;
    color: var( --dark-blue-grey);
  }

  .menu__item:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .menu__item-icon {
    width: 56px;
    height: 56px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    margin-right: 32px;
  }

  .menu__item-icon__img {
    width: 40px;
    height: 40px;
  }

  .menu__item-title {
    font-size: var(--font-size-heading-s);
    font-weight: var(--font-weight-medium);
    text-transform: capitalize;
  }

  .menu__item-icon--very-pale-peach,
  .header__title-icon--very-pale-peach {
    background: var(--very-pale-peach);
  }

  .menu__item-icon--bright-mint-green,
  .header__title-icon--bright-mint-green {
    background: var(--bright-mint-green);
  }

  .menu__item-icon--bright-blue,
  .header__title-icon--bright-blue {
    background: var(--bright-blue);
  }

  .menu__item-icon--purple,
  .header__title-icon--purple {
    background: var(--pale-lavender);
  }


  .quiz__content {
    display: flex;
    flex-direction: column;

    width: 564px;
  }
}
