@import "/css/base.css";
@import "/css/variables.css";
@import "/css/theme/theme.css";
@media (min-width: 768px) {
  /* body start */
  body {
    background-image: url("/assets/images/pattern-background-desktop-light.svg");

    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--light-grey);

    display: grid;
    place-content: center;
  }
  /* body end */

  /* menu header start*/
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5.188rem;
    margin-bottom: 5.313rem;
  }

  .header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: var(--font-size-heading-s);
  }

  .header__title-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-right: 1rem;

    width: 3.5rem;
    height: 3.5rem;

    border-radius: 0.313rem;
  }

  .header__title-icon__img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .header__buttons {
    width: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__button {
    border: none;
  }

  .header__button:first-of-type,
  .header__button:last-of-type {
    width: 1.5rem;
    height: 1.5rem;
    background: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #lightModeButton {
    margin-right: 1rem;
  }

  #darkModeButton {
    margin-left: 1rem;
  }

  #toggleButton {
    width: 3rem;
    height: 1.75rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: var(--primary-purple);
    border-radius: 62.438rem;
    padding: 0.25rem;
  }

  .header__button-slider {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--pure-white);
    border-radius: 50%;
  }
  /* menu header end*/

  /* main start  */
  .main__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    width: 72.5rem;
    height: 28.5rem;
  }

  /* quiz start */
  .quiz__content {
    display: grid;
    grid-template-columns: 29.688rem 35.25rem;
    grid-template-rows: 35.25rem 2.5rem;
    column-gap: 8.188rem;
    row-gap: 2rem;
  }
  /* quiz end */

  /* question start*/

  #question-header {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .question-number {
    font-size: 1.25rem;
    margin-bottom: 1.688rem;
  }

  .question-text {
    font-size: 2.25rem;

    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-heading-m);

    margin-bottom: 10.25rem;
  }

  #progress-bar-container {
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--pure-white);
    border-radius: 62.438rem;
    padding: 0.25rem;
  }

  #progress-bar {
    height: 0.5rem;
    width: 10%;
    background-color: var(--primary-purple);
    border-radius: 6.5rem;
  }

  .question-options-container {
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .question-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    width: 35.25rem;
    height: 5.75rem;
    background: var(--pure-white);
    border-radius: 1.25rem;
    margin-bottom: 1.5rem;
    padding: 1.25rem;

    cursor: pointer;
  }

  .question-option:hover .question-option-letter {
    color: var(--primary-purple);
    background: var(--pale-lavender);
  }

  /* mangement of correct and incorrect option start */

  .question-option--selected {
    border: 0.188rem solid var(--primary-purple);
  }

  .question-option--selected .question-option-letter {
    background-color: var(--primary-purple);
    color: var(--pure-white);
  }

  .question-option--correct {
    border: 0.188rem solid var(--bright-teal);
  }

  .question-option--correct .question-option-letter {
    background-color: var(--bright-teal);
    color: var(--pure-white);
  }

  .question-option--incorrect {
    border: 0.188rem solid var(--vivid-red);
  }

  .question-option--incorrect .question-option-letter {
    background-color: var(--vivid-red);
    color: var(--pure-white);
  }
  /* mangement of correct and incorrect optionnswer end */

  .question-option-letter {
    width: 3.5rem;
    height: 3.5rem;
    padding: 1.125rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 0.5rem;

    color: var(--light-grey-blue);
    background: var(--light-grey);
    font-size: 1.75rem;
  }

  .question-option-text,
  .question-option-letter {
    font-weight: var(--font-weight-medium);
  }

  .question-option-text {
    flex-grow: 1;
    text-align: left;
    font-size: 1.125rem;
  }

  .question__icon {
    width: 2.5rem;
    height: 2.5rem;
    visibility: hidden;
  }

  .question-submit-button,
  .score-restart-button {
    width: 35.25rem;
    height: 5.75rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: var(--primary-purple);
    border-radius: 1.5rem;

    border: none;
    color: var(--pure-white);
    font-weight: var(--font-weight-medium);
    font-size: 1.375rem;

    cursor: pointer;
  }

  .question-submit-button:hover,
  .score-restart-button:hover {
    color: var(--pure-white);
    background: #d394fa;
  }

  /* Score start */
  #score-header {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
  }

  #score-content {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .score-message {
    font-size: 4rem;
    font-weight: 200;
  }

  .score-message-highlight {
    font-size: 4rem;
    font-family: var(--font-weight-medium);
  }

  .score-card {
    width: 35.25rem;
    height: 24.25rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;

    background-color: var(--pure-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .score-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .score-icon {
    width: 3.5rem;
    height: 3.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 0.313rem;

    margin-right: 1.5rem;
  }

  .score-icon-img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .score-card-title {
    font-size: 1.75rem;
    font-weight: var(--font-weight-medium);
    text-transform: capitalize;
  }

  .score-value {
    font-size: 9rem;
    font-weight: var(--font-weight-medium);
  }

  .score-total {
    font-size: 1.5rem;
    color: var(--light-grey-blue);
  }

  .score-icon--very-pale-peach,
  .header__title-icon--very-pale-peach {
    background: var(--very-pale-peach);
  }

  .score-icon--bright-mint-green,
  .header__title-icon--bright-mint-green {
    background: var(--bright-mint-green);
  }

  .score-icon--bright-blue,
  .header__title-icon--bright-blue {
    background: var(--bright-blue);
  }

  .score-icon--purple,
  .header__title-icon--purple {
    background: var(--pale-lavender);
  }

  /* score end */

  #warning-container {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .warning-message {
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    color: var(--vivid-red);
  }

  .attribution {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .attribution a {
    text-decoration: none;
    color: var(--primary-purple);
  }
}
