@import "/css/base.css";
@import "/css/variables.css";
@import "/css/theme/theme.css";
@media (max-width: 768px) {
  /* body start */

  body {
    background-image: url("/assets/images/pattern-background-mobile-light.svg");

    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--light-grey);

    display: grid;
    place-content: center;
  }

  /* body end */

  /* menu header start*/
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20.438rem;
    padding-top: 1.625rem;
    margin-bottom: 2rem;
  }

  .header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header__title-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-right: 1rem;

    width: 2.5rem;
    height: 2.5rem;

    border-radius: 5px;
  }

  .header__title-icon__img {
    width: 1.786rem;
    height: 1.786rem;
  }

  .header__buttons {
    width: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__button {
    border: none;
  }

  .header__button:first-of-type,
  .header__button:last-of-type {
    width: 1rem;
    height: 1rem;
    background: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #lightModeButton {
    margin-right: 0.6rem;
  }

  #darkModeButton {
    margin-left: 0.5rem;
  }

  #toggleButton {
    background: var(--primary-purple);
    border-radius: 10px;
    width: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0.25rem;
  }

  .header__button-slider {
    width: 0.75rem;
    height: 0.75rem;
    background-color: var(--pure-white);
    border-radius: 50%;
  }

  /* menu header end*/

  /* main start  */
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 20.438rem;
  }

  .quiz__content {
    display: flex;
    flex-direction: column;

    margin-bottom: 2.5rem;
  }
  /* main end */

  /* question start*/

  #question-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  .question-number {
    margin-bottom: 0.75rem;
  }

  .question-text {
    font-size: var(--font-size-heading-s);

    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-heading-s);

    margin-bottom: 1.5rem;
  }

  #progress-bar-container {
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    background-color: var(--pure-white);
    border-radius: 62.438rem;
    padding: 0.25rem;
  }

  #progress-bar {
    height: 0.5rem;
    width: 10%;
    background-color: var(--primary-purple);
    border-radius: 6.5rem;
  }

  .question-options-container {
    height: 22.5rem;

    display: flex;
    flex-direction: column;
  }

  .question-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    height: 4rem;
    background: var(--pure-white);
    padding: 0.75rem;
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;
  }
  /* mangement of correct and incorrect option start */

  .question-option--selected {
    border: 3px solid var(--primary-purple);
  }

  .question-option--selected .question-option-letter {
    background-color: var(--primary-purple);
    color: var(--pure-white);
  }

  .question-option--correct {
    border: 3px solid var(--bright-teal);
  }

  .question-option--correct .question-option-letter {
    background-color: var(--bright-teal);
    color: var(--pure-white);
  }

  .question-option--incorrect {
    border: 3px solid var(--vivid-red);
  }

  .question-option--incorrect .question-option-letter {
    background-color: var(--vivid-red);
    color: var(--pure-white);
  }

  /* mangement of correct and incorrect optionnswer end */

  .question-option-letter {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.875rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 0.313rem;

    color: var(--light-grey-blue);
    background: var(--light-grey);
  }

  .question-option-text,
  .question-option-letter {
    font-weight: var(--font-weight-medium);
  }

  .question-option-text {
    flex-grow: 1;
    text-align: left;
  }

  .question__icon {
    width: 2rem;
    height: 2rem;
    visibility: hidden;
  }

  .question-submit-button,
  .score-restart-button {
    height: 3.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background: var(--primary-purple);
    border-radius: 0.75rem;

    border: none;
    color: var(--pure-white);
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    padding: 0.75rem;
  }

  .score-restart-button {
    width: 20.125rem;
  }

  /* Score start */
  #score-header {
    display: flex;
    flex-direction: column;
  }

  #score-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .score-message,
  .score-message-highlight {
    font-size: 2.5rem;
    font-family: var(--font-weight-medium);
  }

  .score-card {
    width: 20.125rem;
    height: 15.125rem;
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;

    background-color: var(--pure-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .score-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .score-icon {
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-radius: 0.313rem;

    margin-right: 1rem;
  }

  .score-icon-img {
    width: 1.786rem;
    height: 5rem;
  }

  .score-card-title {
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    text-transform: capitalize;
  }

  .score-value {
    font-size: 5.5rem;
    font-weight: var(--font-weight-medium);
  }

  .score-total {
    font-size: 1.125rem;
    color: var(--light-grey-blue);
  }

  .score-icon--very-pale-peach,
  .header__title-icon--very-pale-peach {
    background: var(--very-pale-peach);
  }

  .score-icon--bright-mint-green,
  .header__title-icon--bright-mint-green {
    background: var(--bright-mint-green);
  }

  .score-icon--bright-blue,
  .header__title-icon--bright-blue {
    background: var(--bright-blue);
  }

  .score-icon--purple,
  .header__title-icon--purple {
    background: var(--pale-lavender);
  }

  /* score end */

  #warning-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.75rem;
  }

  .warning-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .warning-message {
    font-size: 0.938rem;
    font-weight: var(--font-weight-medium);
    color: var(--vivid-red);
  }

  .attribution {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .attribution a {
    text-decoration: none;
    color: var(--primary-purple);
  }
}
